<!DOCTYPE html>
<html ng-app="kidscheckin">

  <head>
    <meta charset="utf-8" />
    <title>Kids Check In</title>
    <link rel="stylesheet" href="style.css" />
	  <link rel="stylesheet" href="css/bootstrap.min.css" />
  	<script src="js/angular.js"></script>
	<script src="js/ui-bootstrap-tpls-0.12.1.js"></script>
    <script src="app.js"></script>
    <script src="jquery-1.11.2.min.js"></script>
  </head>
  <body  >
    	<div ng-controller="MainCtrl">
				<div class="col-xs-6 check-in" style="width: 30%">
				<h2>Check-In</h2>
					<form class="form-inline">
						<div class="check_in_btn">
							<div class="form-group">
								<input type="text" ng-model="selected" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control">
							</div>
							<div class="form-group">
								<button class="btn btn-primary" ng-click="add(selected)">Add New Child </button>
							</div>
						</div>
					</form>
					</br>
					<div >
					<ul ui-on-Drop="onDrop($event,$data,men)">
						<li ui-draggable="true" drag="man"
						on-drop-success="dropSuccessHandler($event,$index,men)"
						ng-repeat="man in men track by $index">
							<div class="form-inline">
							<div class="form-group" >
								<input class="form-control"  ng-model="man" />
							</div>
							<div class="form-group">
								<button class="btn btn-primary" data-ng-click="move(man,$index)">Pick Up</button>
							</div>
								</div>
						</li>
					</ul>
						</div>
				</div>
			<div class="col-xs-6 check-out" style="width: 70%; height: 100%">
			<h2>PickUp</h2>
				<ul ui-on-Drop="onDrop($event,$data,women)">
					<li ui-draggable="true" drag="woman"
					on-drop-success="dropSuccessHandler($event,$index,women)"
					ng-repeat="woman in women track by $index">
						<div class="form-group">
							<button class="btn btn-danger" style="font-size:700%" data-ng-click="remove(2,$index)">
								<textarea class="form-control" ng-show="woman" style="font-size:60px" ng-model="woman"></textarea>
							</button>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</body>

</html>
