/* app css stylesheet */
html, body {
  padding-top: 20px;
  height: 100%;
}



.vertical-center {
  min-height: 100%;  /* Fallback for vh unit */
  min-height: 100vh; /* You might also want to use
                        'height' property instead.
                        
                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.
  
                        In this case the parent of '.vertical-center'
                        is the <body> element */

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;
  
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}

/* View_list css    */
.box {
    background: #fff;
    border: solid 1px;
    border-color: #ded7d7;
    height: 110px;
    min-width: 60px;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #888888;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom:20px;
    margin-left:10px !important;
    margin-right:10px !important;

}

@media (min-width: 768px) {
    .box{
        margin:10px;
    }
}

.logo {
    width: auto;
    height: inherit !important;
    display:block;
    margin-left:auto;
    margin-right:auto;
    
}

.logopic{
    height: 70px;

}

.desc {
    height: 60px;
    line-height: 1;
}
@media (max-width: 350px) {
     .descNum {
        font-size: 20px;
        margin-left:10px;
    
    }

    .descItem {
        margin-left:10px;
    }
}

.descNum {
    color: #545454;
    font-size: 23px;
    font-family:'Trebuchet MS';
}

.descItem {
    font-size: 13px;
    color: #545454;
    font-family:'Lucida Sans Unicode';
}

.ourarrow {
    font-size: 20px;
    margin-top: 25px;
    color: #545454;
}

.nopad {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
@media (min-width: 768px) {
    .catName {
        margin-left: 20px;
    }
}

.logo-replace{
    color:#000;
    font-size:23px;
}
/* View_Detail css    */

.detail-box {
    background: #fff;
    border: solid 1px;
    border-color: #ded7d7;
    height: auto;
    min-width: 60px;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #888888;
    padding: 15px;
    margin-bottom:20px;
    margin-top:20px;
}

@media (max-width: 768px) {
    .detail-box{
        margin-left:20px;
        margin-right:20px;
    }
}
.detail-logo {
    display:block;
    width: auto;
    height: 120px;
    margin-left:auto;
    margin-right:auto;
}

.desc-text{
    font-size:25px;
    color: #545454;
    font-family:'Lucida Sans Unicode';
}

.detail-desc{
    margin-top:20px;
    color: #545454;
    font-family:'Lucida Sans Unicode';
}

.detail-address {
    font-size: 18px;
    color: #545454;
    font-family:'Lucida Sans Unicode';
}

.detail-title{
    color: #545454;
    font-family:'Trebuchet MS';
}

.dBtn{
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #489ABF;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.dBtn:hover {
  background: #489ABF;
  background-image: -webkit-linear-gradient(top, #489ABF, #489ABF);
  background-image: -moz-linear-gradient(top, #489ABF, #489ABF);
  background-image: -ms-linear-gradient(top, #489ABF, #489ABF);
  background-image: -o-linear-gradient(top, #489ABF, #489ABF);
  background-image: linear-gradient(to bottom, #489ABF, #489ABF);
  text-decoration: none;

}


/* View_Near css */

.map-box {
    background: #fff;
    border: solid 1px;
    border-color: #ded7d7;
    min-height:250px;
    height:inherit;
    min-width: 60px;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #888888;
    padding: 15px;
    margin-bottom:20px;
}

.map_container{
    position: relative;
    padding-bottom: 75%;
    overflow: hidden; 
}

.map_container .map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}


.radName{
    margin-left: 30px;
}

/* Index css */

.site-banner{
    background-color: #357AA0;
    height:70px;
    width:auto;
    margin-top:0px;
}

.top-img{
    height:60px;
    width:auto;
}
